
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Begin Your Journey to Relief and Relaxation</h2>
            <p class="cs-text">
                Reserve your treatment now and experience expert Thai massage therapy in Leeds city centre.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Book Now</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/cta-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.webp">
        <img loading="lazy" decoding="async" src="/assets/images/cta.jpg" alt="massage towels and oil" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                
                                