<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Stitch Mechanics Now Serving Designers & Developers</h1>
            <p class="cs-text">
                We are the premier Stitch Design Pack for mechanics and auto body websites of all varieties.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <!--Mobile Image -->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 750, height: 1400}) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 750, height: 1400}) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 750, height: 1400}) | jpeg %}" type="image/jpeg">
        <!--Tablet Image -->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | jpeg %}" type="image/jpeg">
        <!--Desktop Image -->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | jpeg %}" alt="massage" width="2250" height="1500" aria-hidden="true">
        </picture>
</section>
                                