<section id="hero-1469">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Daycare & Preschool</span>
            <h1 class="cs-title">Together We’ll Explore
                New Things</h1>
            <p class="cs-text">
                Our mission is to provide affordable, high-quality early education and childcare services for working families to ensure every child.
            </p>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
        </div>
    </div>
    <!-- Background Image, background image added in the css at 1600px for parallax effect -->
    <picture class="cs-background">
        <!--Mobile Image -->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 750, height: 1400}) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 750, height: 1400}) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 750, height: 1400}) | jpeg %}" type="image/jpeg">
        <!--Tablet Image -->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | jpeg %}" type="image/jpeg">
        <!--Desktop Image -->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | jpeg %}" alt="massage" width="2250" height="1500" aria-hidden="true">
        </picture>
    <!--SVG Curve-->
    <svg class="cs-curve" width="1920" height="136" viewBox="0 0 1920 136" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M1920 136V0C1803.21 45.3334 1445.52 136 951 136C456.485 136 111.116 45.3334 0 0V136H951H1920Z" fill="#fff"/>
    </svg>
</section>