<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1617">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">
                Thai To Relax Leeds
            </span>
            <h1 class="cs-title">
                Authentic Thai Therapeutic Massage in Leeds City Centre</h1>
            <a href="{{client.onlineBooking}}" target="_blank" rel="noopener"  class="cs-button-solid">Book Now</a>
            <!--Bottom Corners-->
            <div class="cs-corners" aria-hidden="true"></div>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
        <img loading="lazy" decoding="async" src="/assets/images/hero.jpg" alt="woman getting a massage" width="1920" height="1200" aria-hidden="true">
    </picture>
</section>
                                