<section id="hero-1950">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">We do not cook, we create your emotions!</h1>
            <div class="cs-flex-group">
                <p class="cs-text">My passion for food has brought many new, fun and delicious dishes to the table. My passion for food has brought many new, fun and delicious dishes to the table.</p>
                <a href="{{client.onlineBooking}}" target="_blank" rel="noopener" class="cs-button-solid">Schedule A Massage</a>
            </div>
        </div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <!--Mobile Image -->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 780, height: 1688}) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 780, height: 1688}) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 780, height: 1688}) | jpeg %}" type="image/jpeg">
        <!--Tablet Image -->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 1024, height: 683}) | jpeg %}" type="image/jpeg">
        <!--Desktop Image -->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl "/assets/images/hero.jpg" | resize({width: 2250, height: 1500}) | jpeg %}" alt="massage" width="2250" height="1500" aria-hidden="true">
        </picture>
</section>


                                