
<section id="reviews-727">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Proven Results From Real Clients</h2>
            <p class="cs-text">
                Our clients speak for themselves. From managing sciatica to resolving knee problems, discover why people trust Thai To Relax for genuine therapeutic care and lasting comfort.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                <h3 class="cs-h3">Best massage I've had in Leeds</h3>
                    <p class="cs-item-text">
                        I've been struggling with shoulder tension from office work for months. Jessica's deep tissue massage and sen work made such a difference. She knew exactly where the problem areas were and worked on them properly. The place is spotless and the service is professional. Already booked my next appointment.
                    </p>
                <span class="cs-name">Marie</span>
             </li>
             <li class="cs-item">
                <svg class="cs-icon" viewBox="0 0 40 33" width="40" height="33" aria-hidden="true">
                    <g clip-path="url(#clip0_1_30)">
                        <path d="M9.17589 33H0L7.32198 0H22L9.17589 33Z"/>
                        <path d="M27.1759 33H18L25.322 0H40L27.1759 33Z"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_1_30">
                            <rect width="40" height="33" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
               <h3 class="cs-h3">Finally found genuine therapeutic massage</h3>
                    <p class="cs-item-text">
                        After trying several massage places around Leeds, I finally found somewhere that focuses on actually treating problems rather than just relaxation. Jessica's traditional Thai techniques helped with my lower back pain from a sports injury. Her experience really shows, and I appreciate the no-nonsense professional approach.
                    </p>
                <span class="cs-name">Carl K</span>
             </li>
        </ul>
        <a href="{{client.socials.googleReview}}" target="_blank" rel="noopener"  class="cs-button-solid">Leave Review</a>
    </div>
</section>