<section id="why-choose-1658">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">Grow Your Business with Our New Bold Agency</h2>
            </div>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-number">01</span>
                    <p class="cs-li-text">
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
                <li class="cs-li">
                    <span class="cs-number">02</span>
                    <p class="cs-li-text">
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
                <li class="cs-li">
                    <span class="cs-number">03</span>
                    <p class="cs-li-text">
                        Aqestic recusandae laudantium optio amet a quisquam saepe aliquid, voluptate praesentium dicta fuga dolor error perspiciatis voluptatem eum cupiditate totam reiciendis quam minus.
                    </p>
                </li>
            </ul>
        </div>  
        <div class="cs-wrapper">
            <picture class="cs-picture">
                <!--Mobile Image -->
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 576, height: 448}) | avif %}" type="image/avif">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 576, height: 448}) | webp %}" type="image/webp">
                <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 576, height: 448}) | jpeg %}" type="image/jpeg">
                <!--Tablet Image -->
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 878, height: 726}) | avif %}" type="image/avif">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 878, height: 726}) | webp %}" type="image/webp">
                <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 878, height: 726}) | jpeg %}" type="image/jpeg">
                <!--Desktop Image -->
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 1260, height: 834}) | avif %}" type="image/avif">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 1260, height: 834}) | webp %}" type="image/webp">
                <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/why-us.jpg" | resize({width: 1260, height: 834}) | jpeg %}" type="image/jpeg">
                <img src="{% getUrl "/assets/images/why-us.jpg" | resize({width: 1260, height: 834}) | jpeg %}" alt="shop" width="630" height="417" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <p class="cs-review">
                <svg class="cs-quote" preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg" preser><g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)"><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g><defs><clipPath id="a-1658"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath></defs></svg>

                Professional & modern, a theme designed to help your business stand out from the rest. For marketing firms, business endeavors & business consulting.
            </p>
        </div>
    </div>
</section>
                                