---
title: 'Massages | Thai To Relax'
description: "Traditional Thai massage treatments in Leeds. From relaxation to sports therapy & deep tissue. Expert therapists, authentic techniques, proven therapeutic results."
preloadImg: '/assets/images/banner.webp'
permalink: 'massages/'
eleventyNavigation:
    key: Massages
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/massages.css">
{% endblock %}

{% block body %}

{% include 'components/pricing-sbs.html' %}                                                  

{% endblock %}