/*-- ---------------------------------------------------------------- -->
<---                         SBS Pricing                              -->
<--- ---------------------------------------------------------------- -*/
/*-- -------------------------- -->
<---       Content Block        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-1450 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            max-width: 100%;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            margin: 0 0 (32/16rem) 0;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (48/16rem);
            background-color: var(--primary);
            border-radius: (8/16rem);
            overflow: hidden;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #content-1450 {
            .cs-title, .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
        }
    }
}

/*-- ---------------------------- -->
<---          SBS Pricing         -->
<--- ---------------------------- -*/
                                
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-995,
    #pricing-r-995 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            margin: 0 0 (32/16rem) 0;
        }

        .cs-menu {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            column-gap: (20/16rem);
            /* 28px - 40px */
            row-gap: clamp(1.75rem, 3vw, 2.5rem);
        }

        .cs-menu-group {
            width: 100%;
            max-width: (630/16rem);
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 28px - 40px */
            gap: clamp(1.75rem, 3vw, 2.5rem);
        }

        .cs-menu-item {
            list-style: none;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: (8/16rem);
        }

        .cs-h3 {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: (24/16rem);
            position: relative;
            z-index: 1;

            &:before {
                /* grey line */
                content: "";
                width: 100%;
                height: 2px;
                background: #e8e8e8;
                opacity: 1;
                position: absolute;
                display: block;
                top: (13/16rem);
                left: 0;
                z-index: -1;
            }
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            max-width: (400/16rem);
            padding-right: (8/16rem);
            background-color: #fff;
            color: var(--headerColor);
        }

        .cs-price {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            padding-left: (8/16rem);
            background-color: #fff;
            color: var(--headerColor);
        }

        .cs-menu-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            min-height: (380/16rem);
            display: block;
            /* sends it to the top */
            order: -1;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-995,
    #pricing-r-995 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-menu-group {
            width: 100%;
        }

        .cs-picture {
            max-width: (521/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-995,
        #pricing-r-995 {
            .cs-title,
            .cs-header,
            .cs-menu-text,
            .cs-price {
                color: var(--bodyTextColorWhite);
            }

            .cs-header,
            .cs-price {
                background-color: var(--dark);
            }

            .cs-menu-text {
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---     Pricing Reverse        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-r-995 {
        background-color: #f7f7f7;

        .cs-header, .cs-price {
            /* same as the background color of the section */
            background-color: #f7f7f7;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-r-995 {
        .cs-header,
        .cs-price {
            background-color: #f7f7f7;
        }

        .cs-picture {
            /* sends it to the right in the 2nd position */
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-r-995 {
            background-color: var(--medium);

            .cs-header,
            .cs-price {
                background-color: var(--medium);
            }
        }
    }
}

/*-- ---------------------------------------------------------------- -->
<---                        Menu Pricing                              -->
<--- ---------------------------------------------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-menu-group-1037 {
        text-align: center;
        height: auto;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-icon-wrapper {
            width: 100%;
            margin: 0 0 (12/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (16/16rem);
            position: relative;

            &:before {
                /* left line */
                content: "";
                width: 50%;
                max-width: (150/16rem);
                height: 1px;
                background: #b4b2c7;
                opacity: 1;
                position: relative;
                display: block;
            }

            &:after {
                /* right line */
                content: "";
                width: 50%;
                max-width: (150/16rem);
                height: 1px;
                background: #b4b2c7;
                opacity: 1;
                position: relative;
                display: block;
            }
        }

        .cs-icon {
            width: 40%;
            /* 100px - 180px */
            max-width: clamp(6.25rem, 18vw, 11.25rem);
            height: auto;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-title {
            margin: 0 0 (32/16rem);
        }

        .cs-hidden {
            display: none;
        }

        .cs-button-group {
            width: auto;
            max-width: (1000/16rem);
            margin: 0 (16/16rem);
            /* 16px - 28px top & bottom */
            /* 32px - 48px left & right */
            padding: clamp(1rem, 3vw, 1.75rem) clamp(2rem, 4vw, 3rem);
            border-radius: (70/16rem);
            background-color: #f3f3f3;
            border: 1px solid #b4b2c7;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            display: inline-flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            /* 24px - 36px */
            column-gap: clamp(1.5rem, 2vw, 2.25rem);
            row-gap: (12/16rem);
        }

        .cs-button {
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            padding: 0;
            color: #878787;
            background: transparent;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition:
                color 0.3s,
                font-weight 0.3s,
                color 0.3s;

            &:hover {
                color: var(--primary);
                cursor: pointer;
            }

            &:after {
                /* active state icon */
                content: "";
                position: relative;
                display: block;
                width: 0;
                /* 16px - 24px */
                height: clamp(1rem, 3vw, 1.5rem);
                background: url("/assets/svgs/favicon.svg");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0;
                transition:
                    width 0.3s,
                    opacity 0.3s,
                    margin-left 0.3s;
            }

            &.cs-active {
                color: var(--headerColor);
                font-weight: 700;
                &:after {
                    width: clamp(1.5625rem, 3vw, 2.25rem);
                    opacity: 1;
                    /* 8px - 16px */
                    margin-left: clamp(0.5rem, 0.5vw, 1rem);
                }
            }
        }

        .cs-menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 32px - 64px */
            gap: clamp(2rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            position: relative;
            z-index: 20;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            column-gap: (20/16rem);
            /* 32px - 60px */
            row-gap: clamp(2rem, 6vw, 3.75rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (580/16rem);
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* 16px - 36px */
            gap: clamp(1rem, 3vw, 2.25rem);
        }

        .cs-picture {
            /* 76px - 160px */
            width: clamp(4.75rem, 14vw, 10rem);
            height: clamp(4.75rem, 14vw, 10rem);
            overflow: hidden;
            display: block;
            flex: none;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-h3 {
            /* 16px - 24px */
            font-size: clamp(1rem, 2vw, 1.5rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            /* 8px - 16px */
            margin: 0 0 clamp(0.5rem, 1.5vw, 1rem);
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            gap: (12/16rem);

            &:after {
                content: "";
                width: 100%;
                height: 1px;
                background: #b4b2c7;
                opacity: 1;
                position: relative;
                display: block;
                order: 1;
            }
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            width: auto;
            max-width: 70%;
            color: var(--headerColor);
            flex: none;
        }

        .cs-price {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            /* 28px - 46px */
            line-height: clamp(1.75rem, 4vw, 2.875rem);
            font-weight: 700;
            /* 8px - 12px */
            padding: 0 clamp(0.5rem, 1vw, 0.75rem);
            color: var(--primary);
            background-color: #fff;
            border-radius: (80/16rem);
            border: 1px solid #b4b2c7;
            display: flex;
            align-items: center;
            order: 3;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Mobile - 359px */
@media only screen and (max-width: 22.4375rem) {
    #cs-menu-group-1037 {
        .cs-picture {
            /* removed the picture on smaller devices so everything fits on the screen better */
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #cs-menu-group-1037 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: (20/16rem);
        }

        .cs-item {
            width: 48.5%;
        }

        .cs-name {
            width: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #cs-menu-group-1037 {
            background-color: rgba(0, 0, 0, 0.5);

            .cs-button-group {
                background-color: var(--medium);
            }
            .cs-button {
                color: #fff;
                &:hover {
                    color: var(--secondary);
                }
            }
            .cs-title,
            .cs-text,
            .cs-name,
            .cs-item-p {
                color: var(--bodyTextColorWhite);
            }
            .cs-text,
            .cs-item-p {
                opacity: 0.8;
            }
            .cs-price {
                background-color: var(--medium);
                color: var(--secondary);
            }
        }
    }
}


/*-- ---------------------------------------------------------------- -->
<---                         Service Tiles                            -->
<--- ---------------------------------------------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-877 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at Tablet */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 22 characters, includes spaces between words */
            max-width: 39ch;
        }

        .cs-text {
            max-width: (1064/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: (20/16rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            border-radius: (16/16rem);
            background-color: #fff;
            overflow: hidden;
            grid-column: span 3;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transform: translateY(-0.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primaryLight);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                border-radius: (16/16rem);
                border: 1px solid #e8e8e8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            padding: 0 0 (20/16rem) 0;
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (200/16rem);
            margin-bottom: (20/16rem);
            background-color: var(--primaryLight);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            font-size: (20/16rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            text-align: inherit;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            padding: 0 (20/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-877 {
        .cs-container {
            max-width: (1280/16rem);
        }
        .cs-item {
            grid-column: span 1;
            max-width: (462/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-877 {
            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--medium);
                &:before {
                    opacity: 0.3;
                }
            }
        }
    }
}

                                

                                